{plugins, [
    { pc, {git, "git://github.com/blt/port_compiler.git", {tag, "v1.8.3"}}}
]}.
{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{port_specs, [{"priv/eodbcserver", ["c_src/odbcserver.c"]}]}.
{port_env, [
        {".*-linux", "CFLAGS", "$CFLAGS -lodbc -DUNIX"},
        {".*-linux", "LDFLAGS", "$LDFLAGS -lodbc -lpthread -DUNIX"}
    ]}.
