{plugins, [ {pc, "1.11.0"} ]}.
{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{port_specs, [{"priv/eodbcserver", ["c_src/odbcserver.c"]}]}.
{port_env, [
        {".*", "CFLAGS", "$CFLAGS -lodbc -DUNIX"},
        {".*", "LDFLAGS", "$LDFLAGS -lodbc -lpthread -DUNIX"}
    ]}.
